@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --clr-dark: #070504;
    --clr-light: #ffffff;
    --clr-brand: #990000;
    --clr-accent: #f5f5f4;
    --clr-accent-hover: #d4d4d3ff;

    --clr-primary: #106b76;
    --clr-secondary: #761B10;
}

html,
body {
    height: 100%;
}

body>footer {
    position: sticky;
    top: 100vh;
}

.wrapper {
    max-width: 1600px;
    width: 90%;
    margin-inline: auto;
}

@media (min-width: 600px) {
    .wrapper {
        width: 95%;
    }

}

picture,
img {
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    object-position: center;
    text-align: center;
    background-color: #d1d5db;
}

.frame-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
}

@media (min-width: 800px) {
    .frame-grid {
        gap: 2.5rem;
        grid-template-columns: 2.5fr 1fr;
    }
}

.heading::after {
    content: "";
    display: block;
    margin-top: 10px;
    width: clamp(2em, 25%, 3em);
    height: 3px;
    background-color: var(--clr-secondary);
}

@layer components {
    .typography {
        @apply prose text-gray-900 prose-lg md:prose-xl xl:prose-2xl prose-headings:font-alegreya prose-a:text-[var(--clr-secondary)] marker:text-gray-800 mx-auto;

        :is(h1, h2, h3, h4, h5, h6) {
            margin-bottom: 1rem;
        }

        blockquote {
            padding: 0.25rem 1rem;
            border-inline-start: 4px solid var(--clr-primary);
            background-color: var(--clr-accent);
            font-style: normal;
        }
    }
}