---
import BaseLayout from "src/layouts/BaseLayout.astro";

const title = "Contact Us";
const description = "How to contact us | TheLoneVoice.in";
---

<BaseLayout {title} {description}>
    <main class="wrapper py-6">
        <h2 class="text-4xl font-alegreya font-bold mb-6">{title}</h2>
        <p>Under Construction</p>
    </main>
</BaseLayout>
