---
import BaseLayout from "src/layouts/BaseLayout.astro";

const title = "Contact Us | LoneVoice.in";
const description = "How to contact us | LoneVoice.in";
---

<BaseLayout {title} {description}>
    <main class="wrapper py-6 md:py-8 lg:py-10">
        <div class="typography">
            <h1 class="heading text-2xl md:text-3xl lg:text-4xl xl:text-5xl">
                Contact Us
            </h1>
            <p>Under Construction</p>
        </div>
    </main>
</BaseLayout>
