---
import Date from "./Date.astro";
import { Picture } from "astro:assets";

const { title, pubDate, coverImage, coverAlt } = Astro.props;
---

<section class="relative">
  <Picture
    src={coverImage}
    alt={coverAlt}
    formats={["avif", "webp"]}
    loading={"eager"}
    fetchpriority={"high"}
    decoding={"sync"}
    class="hero-image w-full h-full max-h-[700px]"
  />
  <div class="max-w-5xl mx-auto px-6">
    <div class="absolute bottom-4 md:bottom-8 lg:bottom-10 text-gray-100">
      <Date
        date={pubDate}
        class="text-lg lg:text-xl xl:text-2xl mb-2 lg:mb-6"
      />
      <h1
        class="hero-title text-3xl lg:text-4xl xl:text-5xl font-bold font-alegreya"
        data-pagefind-weight="9"
      >
        {title}
      </h1>
    </div>
  </div>
</section>

<style is:inline>
  .hero-image {
    filter: brightness(0.7);
    background-color: rgb(55, 65, 81);
    z-index: -1;
  }
</style>
