---
import Date from "./Date.astro";
import { Picture } from "astro:assets";

const { title, pubDate, coverImage, coverAlt } = Astro.props;
---

<section class="relative">
    <Picture
        src={coverImage}
        alt={coverAlt}
        formats={["avif", "webp"]}
        quality={"max"}
        loading={"eager"}
        fetchpriority={"high"}
        decoding={"sync"}
        class="hero-image w-full h-full max-h-[550px]"
    />
    <div class="max-w-5xl mx-auto px-6">
        <div class="absolute bottom-8 md:bottom-16 text-gray-100">
            <Date
                date={pubDate}
                class="text-lg lg:text-xl xl:text-2xl mb-4 lg:mb-6"
            />
            <h1
                class="hero-title text-3xl lg:text-4xl xl:text-5xl font-bold font-alegreya"
            >
                {title}
            </h1>
        </div>
    </div>
</section>

<style>
    .hero-image {
        filter: brightness(0.7);
        background-color: rgb(55, 65, 81);
        z-index: -1;
    }
</style>
