---
import { Icon } from "astro-icon/components";

const nav = [
  { text: "Home", link: "/" },
  { text: "Blog", link: "/blog" },
  { text: "About", link: "/about" },
  { text: "Contact", link: "/contact" },
];
---

<header class="shadow py-3">
  <nav class="wrapper grid md:grid-cols-2">
    <a
      href="/"
      class="pb-3 md:pb-0 flex gap-1 items-center justify-center md:justify-start"
    >
      <Icon name="logo" />
      <span class="font-alegreya font-bold text-2xl"> Lone Voice</span></a
    >

    <ul
      class="flex flex-wrap items-center justify-evenly md:justify-end md:gap-8 lg:gap-12"
    >
      {
        nav.map((item) => (
          <li>
            <a
              href={item.link}
              class="text-lg hover:text-brand hover:underline hover:underline-offset-8 hover:decoration-2"
            >
              {item.text}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<style>
  [data-icon="logo"] {
    font-size: 1.75rem;
  }
</style>
