---
const nav = [
    { text: "Home", link: "/" },
    { text: "Blog", link: "/blog" },
    { text: "About", link: "/about" },
    { text: "Contact", link: "/contact" },
];
---

<header class="shadow py-3">
    <nav class="wrapper grid md:grid-cols-2">
        <div class="text-center pb-3 md:pb-0 md:text-left">
            <a href="/" class="font-alegreya font-bold text-2xl lg:text-3xl"
                >Lone Voice</a
            >
        </div>
        <ul
            class="flex flex-wrap items-center justify-evenly md:justify-end md:gap-8 lg:gap-12"
        >
            {
                nav.map((item) => (
                    <li>
                        <a
                            href={item.link}
                            class="text-lg lg:text-xl hover:text-[var(--clr-primary)] hover:underline hover:underline-offset-8 hover:decoration-2"
                        >
                            {item.text}
                        </a>
                    </li>
                ))
            }
        </ul>
    </nav>
</header>
