---
import Search from "astro-pagefind/components/Search";
---

<search-field class="block mt-6 md:mt-0 mb-6 lg:mb-10">
    <!-- <div class="text-xl lg:text-2xl font-alegreya mb-4 heading">Search</div> -->
    <Search
        id="search"
        className="pagefind-ui"
        uiOptions={{ showImages: false }}
    />
</search-field>

<style>
    search-field {
        --pagefind-ui-border-radius: 4px;
    }
</style>
