---
import { fetchAndFilterPosts, generateTagData } from "../utils/helpers";

const posts = await fetchAndFilterPosts();

const uniqueTags = [
    ...new Set(posts.flatMap((post) => post.data.tags)),
] as string[];

const tagData: { name: string; slug: string }[] = generateTagData(uniqueTags);
---

<tag-cloud class="block">
    <div class="text-xl lg:text-3xl font-bold font-alegreya mb-4 heading">
        Topics
    </div>
    <p class="text-lg mb-4">Here are all the topics i've written on</p>
    <div class="flex flex-wrap gap-2">
        {
            tagData.map((tag) => (
                <a
                    href={`/tag/${tag.slug}`}
                    class="bg-[var(--clr-accent)] rounded p-2 hover:bg-[var(--clr-accent-hover)]"
                >
                    {tag.name}
                </a>
            ))
        }
    </div>
</tag-cloud>
